<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <a href= "/">Pagina Principal</a>
    <h1>Lista de Compras</h1>

    <form  action="/listacompras/cadastro" method="POST">

        <input type="text"  name="descricao"/>
        <input type="submit" value="Cadastra">

    </form>

<table> 
    <thead> Descricao</thead>
    <tr th:each="item : ${itens}">
       <td th:text= "${item.descricao}"></td> 
        <td><a th:href="@{'/listacompras/excluir/' + ${item.id}}">Excluir</a></td>
       

    </tr>
</table>

</body>
</html>